    {% extends 'base.html' %}

    {% block titulo %}
    jornada do cliente - Grupo Report
    {% endblock %}

    {% block content %}
    <style>
        .column {
            /* Estilos para as colunas da área de drag and drop */
            background-color: #1b1b1b; /* Exemplo de cor de fundo */
            margin: 0 10px;
            padding: 10px;
            border-radius: 5px;
            min-width: 300px;
            max-width: auto; /* Largura máxima que você deseja para as colunas */
            display: inline-block; /* Muda de 'block' para 'inline-block' para permitir que as colunas fiquem lado a lado */
            vertical-align: top; /* Alinha as colunas ao topo */
        }

        .column h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px; /* Espaço abaixo do título */

        }

        .cards {
            min-height: 200px; /* ou altura conforme necessário */
            min-height: 100px; /* Altura mínima para a área dropável */
            display: flex; /* Permite alinhar os cartões verticalmente */
            flex-direction: column; /* Alinha os cartões em coluna */
        }

        .card {
            background-color: #333; /* Exemplo de cor de fundo para os cartões */
            color: #fff; /* Cor do texto */
            margin-bottom: 5px;
            padding: 10px;
            border-radius: 3px;
            cursor: move; /* estilo do cursor para indicar que é arrastável */
        }

        .drag-and-drop-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px; /* Espaço entre as colunas */
            display: inline-flex; /* Muda de 'flex' para 'inline-flex' para alinhar as colunas em uma linha */
            flex-wrap: nowrap; /* Impede que os itens sejam envolvidos para a próxima linha */
        }

        .drag-and-drop-wrapper {
            overflow-x: auto; /* Adiciona rolagem horizontal se o conteúdo exceder a largura da tela */
            white-space: nowrap; /* Impede que as colunas passem para a próxima linha */
        }

        .kanban-outer-container {
            border: 2px dashed #366092;
            padding: 10px;
            border-radius: 10px;
            margin: 20px 0;
        }

        /* Estilos adicionais para as sub-colunas de Fechamento */
        .fechamento-colunas {
            display: flex;
            gap: 10px;
        }

        /* Estilos para a barra de rolagem */
        .drag-and-drop-wrapper::-webkit-scrollbar {
            height: 12px; /* Altura da barra de rolagem */
        }

        .drag-and-drop-wrapper::-webkit-scrollbar-track {
            background: #2c2c2c; /* Cor de fundo da trilha da barra de rolagem, ajuste conforme necessário */
            border-radius: 10px;
        }

        .drag-and-drop-wrapper::-webkit-scrollbar-thumb {
            background-color: #366092; /* Cor da barra de rolagem, ajuste conforme necessário */
            border-radius: 10px;
            border: 3px solid #2c2c2c; /* Cor de borda igual à do track para criar o efeito de "margem" */
        }

        .drag-and-drop-wrapper::-webkit-scrollbar-thumb:hover {
            background: #555; /* Cor da barra de rolagem ao passar o mouse */
        }

        .drag-and-drop-container {
            margin-bottom: 30px; /* Espaço abaixo da área de rolagem para não ficar muito perto do rodapé */
        }

        .column:not(:last-child) {
            margin-right: 20px; /* Adiciona espaço à direita de cada coluna exceto a última */
        }

        .titulo-tabela {
            text-align: left; /* Alinha o título à esquerda */
            font-family: 'Helvetica Neue', Arial, sans-serif; /* Fonte elegante e profissional */
            color: #3d85c6; /* Cor sóbria para um visual mais profissional */
            margin-bottom: 20px; /* Espaço entre o título e a tabela */
            font-size: 1.5em; /* Tamanho da fonte adequado */
            font-weight: 600; /* Semi-negrito para destaque */
            padding-left: 15px; /* Alinhamento com o início da tabela */
        }

    </style>

    <script>
        function allowDrop(event) {
            event.preventDefault();
        }

        function drag(event) {
            event.dataTransfer.setData("text/plain", event.target.id);
        }

    // Função para lidar com o drop
        function drop(event) {
            event.preventDefault();
            var data = event.dataTransfer.getData("text/plain");
            var card = document.getElementById(data);
            var columnId = event.target.closest('.column').id;

            // Se o alvo do drop for a área de cartões da coluna, adicionar o cartão a ela
            if (event.target.className === "cards") {
                event.target.appendChild(card);

                // Se o cartão for solto na coluna de "Qualificação", envie uma solicitação para criar uma nova proposta
                if (columnId === "column-2" && card.id.startsWith("empresa-")) {
                    createNewProposta(card.id.replace("empresa-", ""));
                }

                if (card.id.startsWith("proposta-")) {
                    var propostaId = card.id.replace("proposta-", "");
                    var estagioNome;
                    switch (columnId) {
                    case "column-1":
                        estagioNome = "Prospecção";
                        break;
                    case "column-2":
                        estagioNome = "Qualificado";
                        break;
                    case "column-3":
                        estagioNome = "Desenvolvimento";
                        break;
                    case "column-4":
                        estagioNome = "Apresentação";
                        break;
                    case "column-5":
                        estagioNome = "Enviada";
                        break;
                    case "column-7":
                        estagioNome = "Aprovado";
                        break;
                    case "column-8":
                        estagioNome = "Declinada";
                        break;
                    }
                    
                    if (estagioNome) {
                        updatePropostaEstagio(card.id.replace("proposta-", ""), estagioNome);
                    }
                }
            } else if (event.target.className === "card") {
                // Se o alvo do drop for outro cartão, adicionar o cartão acima dele
                event.target.parentNode.insertBefore(card, event.target);
            }
        }

        // Adicionar os eventos de drag and drop às colunas
        document.querySelectorAll('.cards').forEach(cards => {
            cards.addEventListener('dragover', allowDrop);
            cards.addEventListener('drop', drop);
        });
        
        function createNewProposta(empresaId) {
            fetch('{% url "empresa:create_proposta" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                body: JSON.stringify({ empresa_id: empresaId })
            })
            .then(response => response.json())
            .then(data => {
                // Trate aqui a resposta do servidor
                console.log(data);
                if (data.success) {
                    // Atribuir o ID da proposta ao cartão
                    var card = document.getElementById("empresa-" + empresaId);
                    card.id = "proposta-" + data.proposta_id;
                } else {
                    console.error('Erro ao criar proposta:', data.error);
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }


        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function updatePropostaEstagio(propostaId, estagioNome) {
        // Certifique-se de que o propostaId é um número
        propostaId = parseInt(propostaId);

        fetch('{% url "empresa:update_proposta_estagio" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: JSON.stringify({ proposta_id: propostaId, estagio_nome: estagioNome })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            if (!data.success) {
                console.error('Falha ao atualizar o estágio da proposta:', data.error);
            }
        })
        .catch((error) => {
            console.error('Erro na solicitação:', error);
        });
    }

</script>

    <div class="py-20 px-4">
        <div>
            <h1 class="titulo-tabela">Jornada do Cliente</h1>
        </div>
        
        <div class="kanban-outer-container">
        <!-- Wrapper para a área de drag and drop com rolagem horizontal -->
            <div class="drag-and-drop-wrapper">
                <!-- Área de drag and drop -->
                <div id="drag-and-drop-area" class="drag-and-drop-container">
                    <!-- Coluna de empresas -->
                    <div class="column empresas" id="column-1">
                        <h2>Prospecção</h2>
                        <div class="cards" ondrop="drop(event)" ondragover="allowDrop(event)">
                            {% for empresa in empresas %}
                            <div class="card" draggable="true" ondragstart="drag(event)" id="empresa-{{ empresa.id }}">
                                <p>{{ empresa.nome }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <!-- Coluna de Qualificação -->
                    <div class="column qualificacao" id="column-2">
                        <h2>Qualificação</h2>
                        <div class="cards" ondrop="drop(event)" ondragover="allowDrop(event)">
                            {% for proposta in qualificado_propostas %}
                            <div class="card" draggable="true" ondragstart="drag(event)" id="proposta-{{ proposta.id }}">
                                <p>{{ proposta.descricao }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Coluna de Desenvolvimento -->
                    <div class="column desenvolvimento" id="column-3">
                        <h2>Desenvolvimento</h2>
                        <div class="cards" ondrop="drop(event)" ondragover="allowDrop(event)">
                            {% for proposta in desenvolvimento_propostas %}
                            <div class="card" draggable="true" ondragstart="drag(event)" id="proposta-{{ proposta.id }}">
                                <p>{{ proposta.descricao }}</p>
                            </div>
                            {% endfor %}                        
                        </div>
                    </div>

                    <!-- Coluna de Apresentação -->
                    <div class="column apresentacao" id="column-4">
                        <h2>Apresentação</h2>
                        <div class="cards" ondrop="drop(event)" ondragover="allowDrop(event)">
                            {% for proposta in apresentacao_propostas %}
                            <div class="card" draggable="true" ondragstart="drag(event)" id="proposta-{{ proposta.id }}">
                                <p>{{ proposta.descricao }}</p>
                            </div>
                            {% endfor %}                           
                        </div>
                    </div>

                    <!-- Coluna de Proposta -->
                    <div class="column proposta" id="column-5">
                        <h2>Proposta</h2>
                        <div class="cards" ondrop="drop(event)" ondragover="allowDrop(event)">
                            {% for proposta in enviada_propostas %}
                            <div class="card" draggable="true" ondragstart="drag(event)" id="proposta-{{ proposta.id }}">
                                <p>{{ proposta.descricao }}</p>
                            </div>
                            {% endfor %}          
                        </div>
                    </div>        

                    <!-- Coluna de Fechamento dividida em Aprovada e Reprovada -->
                    <div class="column fechamento" id="column-6">
                        <h2>Fechamento</h2>
                        <div class="fechamento-colunas">
                            <div class="column aprovada" id="column-7">
                                <h3>Aprovada</h3>
                                <div class="cards" ondrop="drop(event)" ondragover="allowDrop(event)">
                                    {% for proposta in aprovado_propostas %}
                                    <div class="card" draggable="true" ondragstart="drag(event)" id="proposta-{{ proposta.id }}">
                                        <p>{{ proposta.descricao }}</p>
                                    </div>
                                    {% endfor %}    
                                 </div>
                            </div>
                            <div class="column reprovada" id="column-8">
                                <h3>Reprovada</h3>
                                <div class="cards" ondrop="drop(event)" ondragover="allowDrop(event)">
                                    {% for proposta in declinada_propostas %}
                                    <div class="card" draggable="true" ondragstart="drag(event)" id="proposta-{{ proposta.id }}">
                                        <p>{{ proposta.descricao }}</p>
                                    </div>
                                    {% endfor %}    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <footer class=" bg-[#366092] px-1 py-2 ">
        <ul class=" flex justify-between items-center">
            
            <li>&copy; 2023</li>
            <li> Feito com Python (Django)</li>
            <li>grupo report</li>
        </ul>
    </footer>
    {% endblock %}
